params {
    methods            = null
    topUp              = false
    maxUpi             = ""
    batchSize          = 32000
    keep               = false
    analyses           = ""
    analysisIds        = ""
    maxJobsPerAnalysis = 0
    databases          = null
    interproscan       = null
    list               = false
}

manifest {
    defaultBranch          = "main"
    description            = "InterProScan Production Manager"
    license                = "Apache License 2.0"
    mainScript             = "main.nf" 
    name                   = "IPM_NF"
    nextflowVersion        = ">=25.04.6"
    organization           = "EMBL-EBI"
    version                = "1.0.0-alpha"
    contributors = [
        [
            name: "Emma Elizabeth Mary Hobbs",
            affiliations: "EMBL-EBI",
            email: "ehobbs@ebi.ac.uk",
            github: "https://github.com/HobnobMancer",
            contribution: ["author"],
            orcid: "https://orcid.org/0000-0002-8470-4739",
        ],
        [
            name: "Matthias Blum", 
            affiliation: "EMBL-EBI", 
            email: "mblum@ebi.ac.uk",
            github: "https://github.com/matthiasblum",
            contribution: ["author"],
            orcid: "https://orcid.org/0000-0001-5773-4724",
        ],
    ]
}

includeConfig "conf/profiles/base.config"
includeConfig "conf/applications.config"
includeConfig "conf/ipm.config"

profiles {
    slurm { includeConfig "conf/profiles/slurm.config" }
}
