params {
    method        = null
    databases     = null
    topUp         = false
}

manifest {
    defaultBranch          = "main"
    description            = "InterProScan Production Manager"
    name                   = "IPM_NF"
    nextflowVersion        = ">=24.10.4"
    version                = "1.0.0-pre-alpha"
}
