params {
    appsConfig {
        applications {
            deeptmhmm    = "heavy"
            prints       = "ultra"
            signalp_prok = "medium"
            signalp_euk  = "medium"
            tmbed        = "heavy"
        }
        resources {
            light  = {
                memory = "40.GB"
                time   = "12.h"
            }
            medium = {
                memory = "60.GB"
                time   = "12.h"
            }
            heavy = {
                memory = "130.GB"
                time   = "24.h"
            }
            ultra  = {
                memory = "250.GB"
                time   = "18.h"
            }
        }
    }
}
