params { // no dashes, only underscores
    appsConfig {
        applications {
            deeptmhmm    = "heavy"
            prints       = "ultra"
            signalp_prok = "medium"
            signalp_euk  = "medium"
            tmbed        = "heavy"
            interpro_n   = "heavy"
        }
        subbatched = [
            "cath_funfam",
            "cath_gene3d",
            "deeptmhmm",
            "interpro_n",
            "mobidblite",
            "panther",
            "prints",
            "signalp_prok",
            "signalp_euk",
            "superfamily",
            "tmbed"
        ]
        resources {
            notSubbatched = {
                cpus = 2
            }
            subbatched = {
                cpus = 4
            }
            light  = {
                memory = "40.GB"
                time   = "12.h"
            }
            medium = {
                memory = "60.GB"
                time   = "12.h"
            }
            heavy = {
                memory = "130.GB"
                time   = "24.h"
            }
            ultra  = {
                memory = "250.GB"
                time   = "18.h"
            }
        }
    }
}
