params {
    appsConfig {
        applications {
            deeptmhmm = "medium"
            prints    = "heavy"
            tmbed     = "medium"
        }
        resources {
            light  = {
                memory = "35.GB"
                time   = "12.h"
            }
            medium = {
                memory = "130.GB"
                time   = "24.h"
            }
            heavy  = {
                memory = "250.GB"
                time   = "18.h"
            }
        }
    }
}
