executor {
    name = 'local'
    exitReadTimeout = '5 min'
    submitRateLimit = '1/1sec'
}

process {
    executor = 'local'

    withLabel: 'use_gpu' {
        clusterOptions = '--gres=gpu:1'
    }

    withLabel: 'interproscan' {
        maxRetries = 3
    
        cpus   = { 2                    }
        memory = { 2.GB * task.attempt  }
        time   = { 2.h   * task.attempt }
    }
}
