executor {
    name = 'slurm'
    exitReadTimeout = '5 min'
    submitRateLimit = '1/1sec'
}

process {
    executor = 'slurm'

    withLabel: 'use_gpu' {
        clusterOptions = '--gres=gpu:a100:1'
    }

    withLabel: 'interproscan' {
        maxRetries = 3

        cpus   = { 16                   }
    }
}
